Repository NERSC/spack-infrastructure: changes, and which GitLab CI jobs are due for each by the changed paths.
All: spack_training_check, perlmutter-spack-develop-ci-generate, perlmutter-spack-develop-ci-build, perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build, perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build, perlmutter-e4s-22.05-cce-build, perlmutter-e4s-22.05-gcc-build, perlmutter-e4s-22.05-nvhpc-build, perlmutter-e4s-22.05-cuda-build, muller-e4s-22.05

Path conditions:
  spack_training_check: any of: docs/spack_training.rst
  perlmutter-spack-develop-ci-generate: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-spack-develop-ci-build: any of: spack-configs/perlmutter-spack-develop/spack.yaml
  perlmutter-e4s-23.05-gcc-build: any of: spack-configs/perlmutter-e4s-23.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-cce-build: any of: spack-configs/perlmutter-e4s-23.05/cce/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-nvhpc-build: any of: spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-cuda-build: any of: spack-configs/perlmutter-e4s-23.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-mathlibs-build: any of: spack-configs/perlmutter-e4s-23.05/math-libs/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-23.05-data-build: any of: spack-configs/perlmutter-e4s-23.05/data/spack.yaml, spack-configs/perlmutter-e4s-23.05/definitions.yaml
  perlmutter-e4s-22.11-gcc-build: any of: spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-nvhpc-build: any of: spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-cuda-build: any of: spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.11-cce-build: any of: spack-configs/perlmutter-e4s-22.11/cce/spack.yaml, spack-configs/perlmutter-e4s-22.11/definitions.yaml
  perlmutter-e4s-22.05-cce-build: any of: spack-configs/perlmutter-e4s-22.05/cce/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-gcc-build: any of: spack-configs/perlmutter-e4s-22.05/gcc/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-nvhpc-build: any of: spack-configs/perlmutter-e4s-22.05/nvhpc/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  perlmutter-e4s-22.05-cuda-build: any of: spack-configs/perlmutter-e4s-22.05/cuda/spack.yaml, spack-configs/perlmutter-e4s-22.05/definitions.yaml
  muller-e4s-22.05: any of: spack-configs/perlmutter-e4s-22.05/ci/spack.yaml

debug pipeline for 23.05
  .gitlab-ci.yml
Due: none

trying to use | when running for loop
  .gitlab-ci.yml
Due: none

add unify:false in all the production spack configuration for 23.05
  spack-configs/perlmutter-e4s-23.05/prod/cce/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/cuda/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/data/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/gcc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/math-libs/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/nvhpc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/prod/tools/spack.yaml
Due: none

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

typo in command for spack env deactivate
  .gitlab-ci.yml
Due: none

comment out packages
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

uncomment all specs
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

remove line for rm -rf on .spack directory
  setup-env.sh
Due: none

remove same line from .csh script
  setup-env.csh
Due: none

update production job for 23.05 to not use for loops
  .gitlab-ci.yml
Due: none

fix bug in production gitlab job for 23.05
  .gitlab-ci.yml
Due: none

need to add an equal sign when using version in the e4s/23.05 branch since this is required in new versions of spack
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

updated spack_configs.rst
  docs/spack_configs.rst
Due: none

rename nvhpc to 22.7
  spack-configs/perlmutter-e4s-22.11/definitions.yaml
Due: perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

fix typos in mirror name and add new line in definitions.yaml
  spack-configs/perlmutter-e4s-22.11/cce/spack.yaml
  spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml
  spack-configs/perlmutter-e4s-22.11/definitions.yaml
  spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml
  spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml
Due: perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

remove --depth=10 from the git clone for 22.11
  .gitlab-ci.yml
Due: none

refactor gitlab CI job
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.11/cce/spack.yaml
  spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml
  spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml
  spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml
Due: perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

fix typo in variable declaration
  .gitlab-ci.yml
Due: none

spack-configs: Add a variant to conduit so it will build
  spack-configs/perlmutter-e4s-22.11/definitions.yaml
Due: perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

remove e4s 22.05 gitlab jobs since t his stack is not being built anymore
  .gitlab-ci.yml
Due: none

refactor CI job for 23.05 stack to use variables in build jobs
  .gitlab-ci.yml
Due: none

update spack.yaml for 22.11 and 23.05 by removing set +e and exit 0 from end of each downstream job
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.11/cce/spack.yaml
  spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml
  spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml
  spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/cce/spack.yaml
  spack-configs/perlmutter-e4s-23.05/cuda/spack.yaml
  spack-configs/perlmutter-e4s-23.05/data/spack.yaml
  spack-configs/perlmutter-e4s-23.05/gcc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/math-libs/spack.yaml
  spack-configs/perlmutter-e4s-23.05/nvhpc/spack.yaml
  spack-configs/perlmutter-e4s-23.05/tools/spack.yaml
Due: perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build, perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

add braces around the if condition
  .gitlab-ci.yml
Due: none

add variables in 22.11 build jobs and remove CDASH section from 22.11 stack
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-22.11/cce/spack.yaml
  spack-configs/perlmutter-e4s-22.11/cuda/spack.yaml
  spack-configs/perlmutter-e4s-22.11/gcc/spack.yaml
  spack-configs/perlmutter-e4s-22.11/nvhpc/spack.yaml
Due: perlmutter-e4s-22.11-gcc-build, perlmutter-e4s-22.11-nvhpc-build, perlmutter-e4s-22.11-cuda-build, perlmutter-e4s-22.11-cce-build

adding likwid package to gcc spack environment
  spack-configs/perlmutter-e4s-23.05/definitions.yaml
Due: perlmutter-e4s-23.05-gcc-build, perlmutter-e4s-23.05-cce-build, perlmutter-e4s-23.05-nvhpc-build, perlmutter-e4s-23.05-cuda-build, perlmutter-e4s-23.05-mathlibs-build, perlmutter-e4s-23.05-data-build

update spack mirrors and upstreams
  spack-configs/perlmutter-user-spack/spack.yaml
Due: none

add spack.yaml, definitions.yaml and gitlab job for building gcc stack
  .gitlab-ci.yml
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
  spack-configs/perlmutter-e4s-23.08/spack.yaml
Due: none

gcc/12.1.0 compiler doesnt exist so we fix this
  check_spack_dependencies.sh
  settings/perlmutter/compilers.yaml
Due: none

fix compiler versions for cce
  check_spack_dependencies.sh
  settings/perlmutter/compilers.yaml
Due: none

move spack.yaml to gcc directory
  spack-configs/perlmutter-e4s-23.08/gcc/spack.yaml
Due: none

fix issue with compiler definition which was not written correctly
  settings/perlmutter/compilers.yaml
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
Due: none

add exit 0 after running spack ci rebuild
  spack-configs/perlmutter-e4s-23.08/gcc/spack.yaml
Due: none

dont cd into SPACK_CONCRETE_ENV_DIR
  spack-configs/perlmutter-e4s-23.08/gcc/spack.yaml
Due: none

remove aml, hdf5-vol-log, pruners-ninja specs
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
Due: none

remove bricks
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
Due: none

remove lbann for now
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
Due: none

remove gptune
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
Due: none

add cce spack environment and gitlab job. update compiler paths
  .gitlab-ci.yml
  settings/perlmutter/compilers.yaml
  spack-configs/perlmutter-e4s-23.08/cce/spack.yaml
  spack-configs/perlmutter-e4s-23.08/definitions.yaml
  spack-configs/perlmutter-e4s-23.08/gcc/spack.yaml
Due: none

fix issue in spack configuration
  spack-configs/perlmutter-e4s-23.08/cce/spack.yaml
  spack-configs/perlmutter-e4s-23.08/gcc/spack.yaml
Due: none
